USE [master]
GO
/****** Object:  Database [BGrade]    Script Date: 2020-04-11 11:42:14 AM ******/
CREATE DATABASE [BGrade]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BGrade', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BGrade.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BGrade_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BGrade_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BGrade].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BGrade]
GO
USE [BGrade]
GO
/****** Object:  Table [dbo].[AcademicAffairsDepartment]    Script Date: 2020-04-11 11:42:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicAffairsDepartment](
	[AAD_Username] [varchar](30) NOT NULL,
	[AAD_Password] [varchar](60) NULL,
	[AAD_Name] [nvarchar](30) NULL,
	[PrivateKey] [nchar](100) NULL,
	[WalletAddress] [nchar](100) NULL,
	[IsHead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AAD_Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Admin_Username] [nchar](20) NULL,
	[Admin_Password] [nchar](60) NULL,
	[Admin_WalletAddress] [nchar](100) NULL,
	[Admin_PrivateKey] [nchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announce]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announce](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Session_ID] [int] NULL,
	[OutLine_ID] [int] NULL,
	[DateTime] [varchar](40) NULL,
	[Type] [varchar](10) NULL,
	[Reason] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Class_ID] [int] IDENTITY(1,1) NOT NULL,
	[Class_Name] [nvarchar](20) NULL,
	[Class_Course] [int] NULL,
	[Class_Department] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Class_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Course_ID] [varchar](20) NOT NULL,
	[Course_Name] [nvarchar](50) NULL,
	[Course_Number_Of_Learning_Unit] [int] NULL,
	[Course_Dep_ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Course_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dean]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dean](
	[Dean_Username] [varchar](30) NOT NULL,
	[Dean_Password] [varchar](60) NULL,
	[Dean_Name] [nvarchar](30) NULL,
	[PrivateKey] [nchar](100) NULL,
	[WalletAddress] [nchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dean_Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dep_ID] [varchar](10) NOT NULL,
	[Dep_Name] [nvarchar](30) NULL,
	[Dep_Dean_Username] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dep_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JoinSession]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinSession](
	[JS_Session_ID] [int] NOT NULL,
	[JS_Student_ID] [varchar](15) NOT NULL,
 CONSTRAINT [pk_JoinSession] PRIMARY KEY CLUSTERED 
(
	[JS_Session_ID] ASC,
	[JS_Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[Lecturer_ID] [varchar](15) NOT NULL,
	[Lecturer_Username] [varchar](30) NULL,
	[Lecturer_Password] [varchar](60) NULL,
	[Lecturer_Name] [nvarchar](30) NULL,
	[Lecturer_Dep_ID] [varchar](10) NULL,
	[PrivateKey] [nchar](100) NULL,
	[WalletAddress] [nchar](100) NULL,
	[Lecturer_Email] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Lecturer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutLine]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutLine](
	[OutLine_ID] [int] IDENTITY(1,1) NOT NULL,
	[OutLine_Session_ID] [int] NULL,
	[OutLine_Name] [nvarchar](30) NULL,
	[OutLine_Percent] [int] NULL,
	[OutLine_DeadLine] [date] NULL,
	[IsFinalTest] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OutLine_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Lecturer_ID] [varchar](15) NULL,
	[Session_ID] [int] NULL,
	[OutLine_ID] [int] NULL,
	[Grade] [text] NULL,
	[DateTime] [varchar](50) NULL,
	[AcceptByDean] [int] NULL,
	[AcceptByPDT] [int] NULL,
	[STT] [int] NULL,
	[OldGrade] [text] NULL,
	[Reason] [text] NULL,
	[HasUpload] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Session_ID] [int] IDENTITY(1,1) NOT NULL,
	[Session_Course_ID] [varchar](20) NULL,
	[Session_Lecturer_ID] [varchar](15) NULL,
	[Session_Year] [char](10) NULL,
	[Session_Semester] [int] NULL,
	[Session_Start_Date] [date] NULL,
	[Session_End_Date] [date] NULL,
	[Session_Type] [nchar](10) NULL,
	[Session_IsUpload] [bit] NULL,
	[Session_IsSubmitFinalTest] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Session_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Student_ID] [varchar](15) NOT NULL,
	[Student_Username] [varchar](30) NULL,
	[Student_Password] [varchar](60) NULL,
	[Student_Name] [nvarchar](30) NULL,
	[Student_Email] [varchar](40) NULL,
	[Student_Dep_ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentClass]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClass](
	[Class_ID] [int] NOT NULL,
	[Student_ID] [varchar](15) NOT NULL,
 CONSTRAINT [pk_studentclass] PRIMARY KEY CLUSTERED 
(
	[Class_ID] ASC,
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrHash]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrHash](
	[TrHash_ID] [int] IDENTITY(1,1) NOT NULL,
	[TrHash_OutLine_ID] [int] NOT NULL,
	[TrHash] [text] NULL,
	[DateTime] [text] NULL,
 CONSTRAINT [pk_hash] PRIMARY KEY CLUSTERED 
(
	[TrHash_ID] ASC,
	[TrHash_OutLine_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 2020-04-11 11:42:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[WalletAddress] [varchar](100) NULL,
	[Balance] [float] NULL,
	[PrivateKey] [nchar](100) NULL,
	[Status] [bit] NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AcademicAffairsDepartment] ([AAD_Username], [AAD_Password], [AAD_Name], [PrivateKey], [WalletAddress], [IsHead]) VALUES (N'hoanglinhgiang', N'202cb962ac59075b964b07152d234b70', N'Hoàng Linh Giang', N'8BC5DD862E7B6702E20294E636EF0DE11B73523653E405C7F61F4587ED1E15F7                                    ', N'0x3F51Fb174e5fC0e3B75d2040Dd97EE82290f2b1c                                                          ', 0)
INSERT [dbo].[AcademicAffairsDepartment] ([AAD_Username], [AAD_Password], [AAD_Name], [PrivateKey], [WalletAddress], [IsHead]) VALUES (N'truongduytuong', N'202cb962ac59075b964b07152d234b70', N'Trương Duy Tường', N'CDA0109BCEA1BE2A19C75034C68FCF5CF1520EC234A54E3EE7FB4342AA5E182B                                    ', N'0xD147760aE246795BA4D05BF4c2c9631F06dF9A5B                                                          ', 1)
INSERT [dbo].[Admin] ([Admin_Username], [Admin_Password], [Admin_WalletAddress], [Admin_PrivateKey]) VALUES (N'admin               ', N'202cb962ac59075b964b07152d234b70                            ', N'0x8c457656323C73c91655369F920366AFf8DA0861                                                          ', N'6C3D2E442AC4D0BA3FBA3662A5BEA7FE47E941329ED89EF1940B2F4DAB3B28B9                                    ')
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([Class_ID], [Class_Name], [Class_Course], [Class_Department]) VALUES (1, N'CMUTPM1', 22, N'DTQT')
INSERT [dbo].[Class] ([Class_ID], [Class_Name], [Class_Course], [Class_Department]) VALUES (2, N'CMUTPM2', 22, N'DTQT')
INSERT [dbo].[Class] ([Class_ID], [Class_Name], [Class_Course], [Class_Department]) VALUES (3, N'CMUTPM1', 23, N'DTQT')
SET IDENTITY_INSERT [dbo].[Class] OFF
INSERT [dbo].[Course] ([Course_ID], [Course_Name], [Course_Number_Of_Learning_Unit], [Course_Dep_ID]) VALUES (N'CMU-CS 445 BIS', N'System Integration Practices', 3, N'DTQT')
INSERT [dbo].[Course] ([Course_ID], [Course_Name], [Course_Number_Of_Learning_Unit], [Course_Dep_ID]) VALUES (N'CMU-CS 447 AIS', N'CDIO', 1, N'DTQT')
INSERT [dbo].[Course] ([Course_ID], [Course_Name], [Course_Number_Of_Learning_Unit], [Course_Dep_ID]) VALUES (N'CMU-SE 303 GIS', N'Software Testing', 3, N'DTQT')
INSERT [dbo].[Dean] ([Dean_Username], [Dean_Password], [Dean_Name], [PrivateKey], [WalletAddress]) VALUES (N'nguyenducman', N'202cb962ac59075b964b07152d234b70', N'Nguyễn Đức Mận', N'7AF6C5056A4D6101B95957DDE6499A342F4805D3FDDAFF4894DBA79DFEB6CCB1                                    ', N'0x4Cdefe5f12b8406710c7dC8ecEB9aAe3b3Cd06F6                                                          ')
INSERT [dbo].[Dean] ([Dean_Username], [Dean_Password], [Dean_Name], [PrivateKey], [WalletAddress]) VALUES (N'nguyentanthuan', N'202cb962ac59075b964b07152d234b70', N'Nguyễn Tấn Thuận', N'C6CC47F620A3724F4C15B40E9B9AD8DBC63332E4ED1D574654BC4F4EEC6901EC                                    ', N'0x6b79cC85ffDdA36687eB6055b4876006bF7aF1d8                                                          ')
INSERT [dbo].[Department] ([Dep_ID], [Dep_Name], [Dep_Dean_Username]) VALUES (N'CNTT', N'Information Technology', N'nguyentanthuan')
INSERT [dbo].[Department] ([Dep_ID], [Dep_Name], [Dep_Dean_Username]) VALUES (N'DTQT', N'International School', N'nguyenducman')
INSERT [dbo].[JoinSession] ([JS_Session_ID], [JS_Student_ID]) VALUES (14, N'2221128422')
INSERT [dbo].[JoinSession] ([JS_Session_ID], [JS_Student_ID]) VALUES (14, N'2221128423')
INSERT [dbo].[JoinSession] ([JS_Session_ID], [JS_Student_ID]) VALUES (14, N'2221128424')
INSERT [dbo].[Lecturer] ([Lecturer_ID], [Lecturer_Username], [Lecturer_Password], [Lecturer_Name], [Lecturer_Dep_ID], [PrivateKey], [WalletAddress], [Lecturer_Email]) VALUES (N'001', N'huynhbadieu', N'202cb962ac59075b964b07152d234b70', N'Huỳnh Bá Diệu', N'DTQT', N'2052277B5DFD8481FBFCA90DA1982C8E81E14670721767EE736BAF41351B8BDD                                    ', N'0xB4E2c4a0b461Fdf68D7FC72889eb77f7dFA13966                                                          ', N'          ')
INSERT [dbo].[Lecturer] ([Lecturer_ID], [Lecturer_Username], [Lecturer_Password], [Lecturer_Name], [Lecturer_Dep_ID], [PrivateKey], [WalletAddress], [Lecturer_Email]) VALUES (N'002', N'phanlong', N'202cb962ac59075b964b07152d234b70', N'Phan Long', N'CNTT', N'412640439814E855409E73F212E6E6723D1635B2858B96C506B5C10BAFC27716                                    ', N'0x35413cE9FE4a064286C8778C1533E9CacFe3828A                                                          ', NULL)
SET IDENTITY_INSERT [dbo].[OutLine] ON 

INSERT [dbo].[OutLine] ([OutLine_ID], [OutLine_Session_ID], [OutLine_Name], [OutLine_Percent], [OutLine_DeadLine], [IsFinalTest]) VALUES (25, 14, N'Conceive', 25, NULL, 0)
INSERT [dbo].[OutLine] ([OutLine_ID], [OutLine_Session_ID], [OutLine_Name], [OutLine_Percent], [OutLine_DeadLine], [IsFinalTest]) VALUES (26, 14, N'Skill/Method', 10, NULL, 0)
INSERT [dbo].[OutLine] ([OutLine_ID], [OutLine_Session_ID], [OutLine_Name], [OutLine_Percent], [OutLine_DeadLine], [IsFinalTest]) VALUES (27, 14, N'Design', 25, NULL, 0)
SET IDENTITY_INSERT [dbo].[OutLine] OFF
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([Session_ID], [Session_Course_ID], [Session_Lecturer_ID], [Session_Year], [Session_Semester], [Session_Start_Date], [Session_End_Date], [Session_Type], [Session_IsUpload], [Session_IsSubmitFinalTest]) VALUES (14, N'CMU-CS 447 AIS', N'001', N'2018-2019 ', 1, CAST(N'2020-01-01' AS Date), CAST(N'2020-10-01' AS Date), N'LEC       ', 1, 0)
INSERT [dbo].[Session] ([Session_ID], [Session_Course_ID], [Session_Lecturer_ID], [Session_Year], [Session_Semester], [Session_Start_Date], [Session_End_Date], [Session_Type], [Session_IsUpload], [Session_IsSubmitFinalTest]) VALUES (15, N'CMU-SE 403 AIS', N'001', N'2018-2019 ', 1, CAST(N'2020-01-01' AS Date), CAST(N'2020-10-01' AS Date), N'LEC       ', 0, 0)
INSERT [dbo].[Session] ([Session_ID], [Session_Course_ID], [Session_Lecturer_ID], [Session_Year], [Session_Semester], [Session_Start_Date], [Session_End_Date], [Session_Type], [Session_IsUpload], [Session_IsSubmitFinalTest]) VALUES (16, N'CMU-SE 303 GIS', N'001', N'2019-2020 ', 2, CAST(N'2020-01-01' AS Date), CAST(N'2020-10-01' AS Date), N'LEC       ', 0, 0)
SET IDENTITY_INSERT [dbo].[Session] OFF
INSERT [dbo].[Student] ([Student_ID], [Student_Username], [Student_Password], [Student_Name], [Student_Email], [Student_Dep_ID]) VALUES (N'2221128422', N'huynhtandung', N'202cb962ac59075b964b07152d234b70', N'Huỳnh Tấn Dũng', N'dunghuynh.010598@gmail.com', N'DTQT')
INSERT [dbo].[Student] ([Student_ID], [Student_Username], [Student_Password], [Student_Name], [Student_Email], [Student_Dep_ID]) VALUES (N'2221128423', N'leminhhoang', N'202cb962ac59075b964b07152d234b70', N'Lê Minh Hoàng', N'lehoang97minh@gmail.com', N'DTQT')
INSERT [dbo].[Student] ([Student_ID], [Student_Username], [Student_Password], [Student_Name], [Student_Email], [Student_Dep_ID]) VALUES (N'2221128424', N'hoangkimquy', N'202cb962ac59075b964b07152d234b70', N'Hoàng Kim Quý', N'quykimhoang@gmail.com', N'DTQT')
INSERT [dbo].[StudentClass] ([Class_ID], [Student_ID]) VALUES (1, N'2221128422')
INSERT [dbo].[StudentClass] ([Class_ID], [Student_ID]) VALUES (2, N'2221128423')
INSERT [dbo].[StudentClass] ([Class_ID], [Student_ID]) VALUES (3, N'2221128424')
SET IDENTITY_INSERT [dbo].[TrHash] ON 

INSERT [dbo].[TrHash] ([TrHash_ID], [TrHash_OutLine_ID], [TrHash], [DateTime]) VALUES (191, 25, N'0x5828a53cfff77be9228e17a70f71bb94b0359ed4b3d2e501f60efe64bf2a110b', N'8:20 10/4/2020')
INSERT [dbo].[TrHash] ([TrHash_ID], [TrHash_OutLine_ID], [TrHash], [DateTime]) VALUES (192, 26, N'0xe5f5157c606bb963600121590006b417347ebcc047d8ffe9a421c16f2caf5ebe', N'8:27 10/4/2020')
INSERT [dbo].[TrHash] ([TrHash_ID], [TrHash_OutLine_ID], [TrHash], [DateTime]) VALUES (193, 27, N'0x8d0e0c5986ef44b677ab49f23904e1caf495f58f1ded2696a225c0317d1bb46b', N'8:38 10/4/2020')
SET IDENTITY_INSERT [dbo].[TrHash] OFF
SET IDENTITY_INSERT [dbo].[Wallet] ON 

INSERT [dbo].[Wallet] ([ID], [UserID], [WalletAddress], [Balance], [PrivateKey], [Status], [Name]) VALUES (1, N'huynhbadieu', N'0xB4E2c4a0b461Fdf68D7FC72889eb77f7dFA13966                                                          ', 2.02769888, N'2052277B5DFD8481FBFCA90DA1982C8E81E14670721767EE736BAF41351B8BDD                                    ', 1, N'Huỳnh Bá Diệu')
INSERT [dbo].[Wallet] ([ID], [UserID], [WalletAddress], [Balance], [PrivateKey], [Status], [Name]) VALUES (2, N'phanlong', N'0x35413cE9FE4a064286C8778C1533E9CacFe3828A                                                          ', 3.98158632, N'412640439814E855409E73F212E6E6723D1635B2858B96C506B5C10BAFC27716                                    ', 1, N'Phan Long')
INSERT [dbo].[Wallet] ([ID], [UserID], [WalletAddress], [Balance], [PrivateKey], [Status], [Name]) VALUES (3, N'nguyenducman', N'0x4Cdefe5f12b8406710c7dC8ecEB9aAe3b3Cd06F6                                                          ', 5.98405912, N'7AF6C5056A4D6101B95957DDE6499A342F4805D3FDDAFF4894DBA79DFEB6CCB1                                    ', 1, N'Nguyễn Đức Mận')
SET IDENTITY_INSERT [dbo].[Wallet] OFF
ALTER TABLE [dbo].[Announce]  WITH CHECK ADD FOREIGN KEY([OutLine_ID])
REFERENCES [dbo].[OutLine] ([OutLine_ID])
GO
ALTER TABLE [dbo].[Announce]  WITH CHECK ADD FOREIGN KEY([Session_ID])
REFERENCES [dbo].[Session] ([Session_ID])
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD FOREIGN KEY([Course_Dep_ID])
REFERENCES [dbo].[Department] ([Dep_ID])
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([Dep_Dean_Username])
REFERENCES [dbo].[Dean] ([Dean_Username])
GO
ALTER TABLE [dbo].[JoinSession]  WITH CHECK ADD FOREIGN KEY([JS_Session_ID])
REFERENCES [dbo].[Session] ([Session_ID])
GO
ALTER TABLE [dbo].[JoinSession]  WITH CHECK ADD FOREIGN KEY([JS_Student_ID])
REFERENCES [dbo].[Student] ([Student_ID])
GO
ALTER TABLE [dbo].[Lecturer]  WITH CHECK ADD FOREIGN KEY([Lecturer_Dep_ID])
REFERENCES [dbo].[Department] ([Dep_ID])
GO
ALTER TABLE [dbo].[OutLine]  WITH CHECK ADD FOREIGN KEY([OutLine_Session_ID])
REFERENCES [dbo].[Session] ([Session_ID])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([Lecturer_ID])
REFERENCES [dbo].[Lecturer] ([Lecturer_ID])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([OutLine_ID])
REFERENCES [dbo].[OutLine] ([OutLine_ID])
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([Session_ID])
REFERENCES [dbo].[Session] ([Session_ID])
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD FOREIGN KEY([Session_Course_ID])
REFERENCES [dbo].[Course] ([Course_ID])
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD FOREIGN KEY([Session_Lecturer_ID])
REFERENCES [dbo].[Lecturer] ([Lecturer_ID])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([Student_Dep_ID])
REFERENCES [dbo].[Department] ([Dep_ID])
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD FOREIGN KEY([Class_ID])
REFERENCES [dbo].[Class] ([Class_ID])
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Student] ([Student_ID])
GO
ALTER TABLE [dbo].[TrHash]  WITH CHECK ADD FOREIGN KEY([TrHash_OutLine_ID])
REFERENCES [dbo].[OutLine] ([OutLine_ID])
GO
USE [master]
GO
